Options +FollowSymlinks
RewriteEngine On
RewriteCond %{HTTP_HOST} ^https://polarhardboiled.github.io/hugotest$
RewriteRule ^(.*) https://polarhardboiled.github.io/hugotest/$1 [QSA,L,R=301]
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

AddType application/x-font-ttf           ttc ttf
AddType application/x-font-otf           otf
AddType application/font-woff            woff
AddType application/font-woff2           woff2
AddType application/vnd.ms-fontobject    eot
AddType video/mp4 mp4 m4v
AddType audio/mp4 m4a
AddType video/ogg ogv
AddType audio/ogg ogg oga
AddType video/webm webm

Header always set Strict-Transport-Security "max-age=15552001; includeSubDomains; preload"

ErrorDocument 404 /404.html

<IfModule mod_headers.c>
Header always set X-FRAME-OPTIONS "DENY"
Header always set X-XSS-Protection "1; mode=block"
Header always set X-Content-Type-Options "nosniff"
<FilesMatch "\.(ico|jpe?g|png|gif|swf|woff2)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
    <FilesMatch "\.(css)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>
    <FilesMatch "\.(js)$">
        Header set Cache-Control "max-age=2592000, private"
    </FilesMatch>
    <filesmatch "\.(html|htm)$">
        Header set Cache-Control "max-age=5, public"
    </filesmatch>
</IfModule>