<!DOCTYPE html>
<html lang="{{.Site.LanguageCode | default "fr"}}">

<head>
	{{ block "head" . }}
		{{- partial "head/metadata.html" . }}
		{{- partial "head/structured-data.html" . }}
		{{- partial "head/verifications.html" . }}
		{{- partial "head/favicons.html" }}
		{{- partial "head/styles.html" . }}
		{{- partial "head/scripts.html" . -}}
		{{- partial "head/output-formats.html" . -}}
		
	{{ end }}
	<title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

	{{ block "head_resources" . }}
    <!-- Use this block to link to further resources like .js or .css files. -->
    {{ end }}
</head>

{{- $exclude := slice "home" "404" -}}
<body id="page" class="theme-{{ index .Site.Params.themeOptions 0}}{{ if not (in $exclude .Kind) }} sidebar{{ end }}">
	{{ block "header" . -}}{{ end -}}
	{{ block "main" . -}}{{ end -}}
	{{ block "footer" . -}}{{ end }}
</body>

</html>