{{ define "main" }}
	<main class="thin">
		<div class="page-title">
		<h1 itemprop="name">{{ .Title }}</h1>
		</div>
		<hr>
		{{- if .Content }}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}
		{{- range .Data.Pages.GroupByDate "2006" }}
		<div class="posts-group">
			<div class="post-year" id="{{ .Key }}">{{ .Key }}</div>
			<ul class="posts-list">
				{{- range .Pages }}
				<li class="post-item">
					<a href="{{.Permalink}}">
						<span class="post-title">
							<h2 itemprop="name">{{ .Title }}</h2>
							{{ if .Description }}
							<p itemprop="description">{{- .Description -}}</p>{{ end }}
							{{- if .PublishDate }}
						<span class="post-day">{{ i18n "on" }} <time datetime="{{ .PublishDate }}">{{ .Date.Day }} {{ index site.Data.months_fr (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
						</span>{{ end }}
						</span>
						<span>{{ if .Resources.GetMatch "header" }}
							{{ $image100 := (.Resources.GetMatch "header").Fill "100x100 Center" }}
							<img
							itemprop="thumbnailUrl"
							class="lazyload blur-up"
							data-src="{{ $image100.RelPermalink }}"
							alt="{{ .Name | plainify }}" 
							>
							{{ end }}</span>
					</a>
				</li>
				{{- end }}
			</ul>
		</div>
		{{- end }}
	</main>
	{{ partial "aside.html" . }}
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
