{{ define "head_resources" }}
{{- if .HasShortcode "gallery" -}}
{{ $gallery := resources.Get "css/gallery.css" | minify | fingerprint }}
<link type=text/css rel="stylesheet" href="{{ $gallery.Permalink }}">
{{ end }}
{{- if .HasShortcode "tabs" -}}
{{ $tabs := resources.Get "css/tabs.css" | minify | fingerprint }}
<link type=text/css rel="stylesheet" href="{{ $tabs.Permalink }}">
{{ end }}
{{ with $.Resources.GetMatch "**.css*" }}
{{ $style := . | minify | fingerprint }}
<link type=text/css rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
{{ end }}

{{ define "main" }}
<article itemscope itemtype="https://schema.org/BlogPosting">
  {{ template "_internal/schema.html" . }}

	<main class="thin">
		<div class="page-title">
			<h1 itemprop="headline name">{{ .Title }}</h1>
			{{ if .Description }}<h2 itemprop="description">{{ .Description }}</h2>{{ end }}
			{{ partial "post/image-header.html" . }}
			{{ partial "post/post-meta.html" . }}
		</div>
		<hr>

		<div itemprop="articleBody" class="content">
			{{ .Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor" aria-hidden="true"><svg enable-background="new 0 0 512 512" height="32" viewBox="0 0 512 512" width="32" fill="currentcolor" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" xmlns="http://www.w3.org/2000/svg"><title>Anchor</title><path d="M320,106.667h-85.333V147.2H320c36.48,0,66.133,29.653,66.133,66.133S356.48,279.467,320,279.467h-85.333V320H320 c58.88,0,106.667-47.787,106.667-106.667S378.88,106.667,320,106.667z"/><path d="M40.533,213.333c0-36.48,29.653-66.133,66.133-66.133H192v-40.533h-85.333C47.787,106.667,0,154.453,0,213.333 S47.787,320,106.667,320H192v-40.533h-85.333C70.187,279.467,40.533,249.813,40.533,213.333z"/><rect x="128" y="192" width="170.667" height="42.667"/>
		</svg></a>${3}` | safeHTML }}
		</div>
		
		{{- if .Site.Params.relatedPosts }}
		{{- partial "related-posts.html" . -}}
		{{- end }}
		<hr class="post-end">
		{{ partial "post-footer.html" . }}
	</main>
	{{ partial "aside.html" . }}
	{{ partial "pagination.html" . }}
	</article>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{- if .HasShortcode "gallery" -}}
{{ $fslightbox := resources.Get "js/fslightbox.js" | fingerprint -}}
<script defer src="{{ $fslightbox.RelPermalink }}"></script>
{{ end }}
{{ end }}
