@-webkit-keyframes "load" {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}
@keyframes "load" {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}
@keyframes "blink" {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes "blink" {
	to {
		visibility: hidden;
	}
}

@-webkit-keyframes flash {
  0%,
    50%,
    to {
    opacity: 1;
  }

  25%,
    75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%,
    50%,
    to {
    opacity: 1;
  }

  25%,
    75% {
    opacity: 0;
  }
}

@-webkit-keyframes "slideleft" {
	from {
		-webkit-transform: translateX(-60em);
		transform: translateX(-60em);
	}
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@keyframes "slideleft" {
	from {
		-webkit-transform: translateX(-60em);
		transform: translateX(-60em);
	}
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@-webkit-keyframes "slideright" {
	from {
		-webkit-transform: translateX(60em);
		transform: translateX(60em);
	}
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@keyframes "slideright" {
	from {
		-webkit-transform: translateX(60em);
		transform: translateX(60em);
	}
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@-webkit-keyframes "slideup" {
	from {
		-webkit-transform: translateY(60em);
		transform: translateY(60em);
	}
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@keyframes "slideup" {
	from {
		-webkit-transform: translateY(60em);
		transform: translateY(60em);
	}
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@-webkit-keyframes "slidedown" {
	from {
		-webkit-transform: translateY(-60em);
		transform: translateY(-60em);
	}
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@keyframes "slidedown" {
	from {
		-webkit-transform: translateY(-60em);
		transform: translateY(-60em);
	}
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
