
.btn {
  background-color: $text;
  color: $background;
  font-size: 1em;
  padding: .5em 1em;
  border-radius: .25em;
  display: inline-block;
  cursor: pointer;
  margin-right: 1em;

  &:hover, &:focus {
    background-color: $white;
    color: $theme;
  }

  &.plain {
    background: 0 0;
    color: $text;

    &:hover {
      background-color: $white;
      color: $theme;
    }
  }
}

.icon {
  text-align: center;
  height: 1.25em;
  width: 1.25em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: text-top;
}

.icon-btn {
  text-align: center;
  height: 1.25em;
  width: 1.25em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  display: inline-block;
  line-height: 1.25em;
  border-radius: .25em;
  border: .45em solid transparent;
  color: $text;

  &.active {
    color: $theme;
  }

  &:hover {
    color: $theme;
    background: $white;
  }
}
