#spotlight.error-404 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  line-height: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  line-height: normal;
}
p.img-404 {
  margin: 0;
  svg {
    width: 12em;
    height: auto;
  }
}
.banner-404 {
  margin-left: 2em;
  h1 {
    font-size: 5em;
    margin: .5rem 0;
  }
  p {
    margin-top: 0;
  }
  .btn-404 {
    font-size: .8em;
    a {
      color: $theme;
      font-weight: 700;
      display: inline-block;
      border: .2em solid $theme;
      border-radius: .3em;
      padding: .5em;
      -webkit-transition-property: color, border-color;
      -o-transition-property: color, border-color;
      transition-property: color, border-color;
      margin-right: 1em;
      margin-bottom: 1em;
      &:hover {
        border-color: $white;
        background: $white;
        color: $text;
      }
      svg {
        margin-right: .5em;
      }
    }
  }
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}