@font-face {
  font-family: dosis;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/dosis-v7-latin-regular.eot);
  src: local("Dosis Regular"), local("Dosis-Regular"), url(../../fonts/dosis-v7-latin-regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/dosis-v7-latin-regular.woff2) format("woff2"), url(../../fonts/dosis-v7-latin-regular.woff) format("woff"), url(../../fonts/dosis-v7-latin-regular.ttf) format("truetype"), url(../../fonts/dosis-v7-latin-regular.svg#Dosis) format("svg");
  font-display: block;
}

@font-face {
  font-family: dosis;
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/dosis-v7-latin-700.eot);
  src: local("Dosis Bold"), local("Dosis-Bold"), url(../../fonts/dosis-v7-latin-700.eot?#iefix) format("embedded-opentype"), url(../../fonts/dosis-v7-latin-700.woff2) format("woff2"), url(../../fonts/dosis-v7-latin-700.woff) format("woff"), url(../../fonts/dosis-v7-latin-700.ttf) format("truetype"), url(../../fonts/dosis-v7-latin-700.svg#Dosis) format("svg");
  font-display: block;
}

@font-face {
  font-family: bitter;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/bitter-v13-latin-regular.eot);
  src: local("Bitter Regular"), local("Bitter-Regular"), url(../../fonts/bitter-v13-latin-regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/bitter-v13-latin-regular.woff2) format("woff2"), url(../../fonts/bitter-v13-latin-regular.woff) format("woff"), url(../../fonts/bitter-v13-latin-regular.ttf) format("truetype"), url(../../fonts/bitter-v13-latin-regular.svg#Bitter) format("svg");
  font-display: block;
}