#home-center {
  flex-grow: 1;
  justify-content: center;
  font-family: $secondary-fonts;

  #home-title {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 6em;
  }

  #home-subtitle {
    margin-top: 0;
    margin-bottom: 1.5em;
    text-align: center;
    line-height: normal;
    font-size: .7em;
    font-style: italic;
    opacity: 0.9;
  }

  #skins-switch {
    text-align: center;
    line-height: normal;
    font-size: .7em;
     ul {
      display: flex;
      justify-content: center;
      list-style: none;
     }

  }

  .nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3em auto;
    list-style: none;
    padding: 0;

    li {
      text-align: center;
      background: $theme;
      flex-basis: 45%;
      height: 8em;
      flex-grow: 1;
      -webkit-transition: background .2s ease-in-out;
      transition: background 0.2s ease-in-out;

      &:nth-child(1) {
        left: 0;
        -webkit-animation: slideleft 2s forwards;
        -webkit-animation-delay: 0s;
        animation: slideleft 2s forwards;
        animation-delay: 0s;
      }

      &:nth-child(2) {
        left: 0;
        -webkit-animation: slidedown 2s forwards;
        -webkit-animation-delay: 0s;
        animation: slidedown 2s forwards;
        animation-delay: 0s;
      }

      &:nth-child(3) {
        left: 0;
        border-bottom: 1px dotted;
        -webkit-animation: sliderup 2s forwards;
        -webkit-animation-delay: 0s;
        animation: slideup 2s forwards;
        animation-delay: 0s;
      }

      &:nth-child(4) {
        left: 0;
        border-bottom: 1px dotted;
        -webkit-animation: slideright 2s forwards;
        -webkit-animation-delay: 0s;
        animation: slideright 2s forwards;
        animation-delay: 0s;
      }

      &:nth-child(5) {
        font-size: .8em;
        left: 0;
        -webkit-animation: slideright 3s forwards;
        -webkit-animation-delay: 0s;
        animation: slideup 3s forwards;
        animation-delay: 0s;
      }

      a {
        font-weight: 700;
        text-decoration: none;
      }

      &:nth-child(odd) {
        border-right: 1px dotted;
        border-top: 1px dotted;
      }

      &:nth-child(even) {
        border-top: 1px dotted;
      }

      &:hover, &.active {
        opacity: 0.8;
      }

      svg {
        padding-top: 1em;
        font-size: 2em;
      }
    }
  }
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-fill-mode: both;
}

@include sass-themify() {
    #home-center {
  .nav-menu li {
  background: sass-themify-get-color("theme-color");
     &:nth-child(odd) {
        border-right-color: sass-themify-get-color("background-color");
        border-top-color: sass-themify-get-color("background-color");
      }

      &:nth-child(even) {
        border-top-color: sass-themify-get-color("background-color");
      }

  a {
  color: sass-themify-get-color("dark-color");
  }
  svg {
  color: sass-themify-get-color("dark-color");
        }
      }
    }
  }