pre, code {
  font-family: $code-fonts;
}

pre {
  tt {
    font-family: $code-fonts;
  }

    code {
    padding: 0;
    margin: 0;
  }
}

code {
  color: $text;
  border-radius: 3px;
  padding: 0 3px;
  margin: 0 4px;
  word-wrap: break-word;
  letter-spacing: normal;
}

@include sass-themify() {
#page {
  background: sass-themify-get-color("background-color");
  color: sass-themify-get-color("text-color");
  }
}