//call initialize mixin with the theme-map variable
@include sass-themify-init($theme-map);

//the box component
//style related css
#box{
  border: 10px solid grey;
  width: 100px;
  height: 100px;
  display: table;
  #text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;;
    font-size: 12px;
  }
}

//color related css goes under here within sass-themify mixin
@include sass-themify(){
  #box{
    background-color: sass-themify-get-color("theme-color");
    .btn {
      background-color: sass-themify-get-color("theme-color");
    }
  }
}