.mini-profile {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  .avatar {
  height: 4em;
  width: 4em;
  overflow: hidden;
  border-radius: 0.25em;
  border: 0.25em solid $text;
}

.bio {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  h4 {
    font-size: 1.5em;
    margin: 0;
  }
  h6 {
    font-size: .9em;
    margin: 0;
  @include dimmed;
  }
}

p {
  font-size: .8em;
  }
  .social {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
  }
}