/*
 * Skins colors definitions
 */

$themes: (
  base: (
    theme: #cc6666,
    text: #444,
    background: #f9f4ed,
    dark: #33272a,
  ),
  roseate: (
    theme: #ff8ba7,
    background: #faeee7,
    text: #594a4e,
    dark: #33272a,
  ),
  auburn: (
    theme: #ffc0ad,
    background: #55423d,
    text: #fff3ec,
    dark: #fffffe,
  ),
  beryl: (
    theme: #eebbc3,
    background: #232946,
    text: #b8c1ec,
    dark: #232946,
  ),
);


@include sass-themify-init($theme);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

#box{
  flex-grow: 1;
  border-width: 10px;
  border-style: solid;
  width: 400px;
  height: 300px;
  position: relative;
  #text{
    @extend .center-in-box;
    font-size: 18px;
    font-weight: bold;
  }
}

@include sass-themify($element:#box){
  color: sass-themify-get-color("text");
  border-color: sass-themify-get-color("border");
  background: sass-themify-get-color("background")
}