// Colors
//
 $theme: #cc6666;
 $text: #444;
 $background: #f9f4ed;
 $white: #fff;
 $light: rgba(255, 255, 255, 0.2);
 $dark: #e0dbd5;

// Fonts
//
$fonts: 'Bitter', georgia, serif;
$secondary-fonts: dosis, "HelveticaNeue-CondensedBold", "trebuchet ms", sans-serif;
$code-fonts: Consolas, "Andale Mono WT", "Andale Mono", Menlo, Monaco, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, "YaHei Consolas Hybrid", monospace, "Segoe UI Emoji", "PingFang SC", "Microsoft YaHei";

// Grid
$grid-min-size: 10rem;

// Mixins
//
@mixin dimmed {
  opacity: .6;
}
