{{ $src := .Get "src" }}
{{ $lqipsrc := .Get "lqipsrc" }}
{{ $caption := .Get "caption" }}
{{ $link := .Get "link" }}
{{ $linktarget := .Get "linktarget" }}
{{ $attr := .Get "attr" }}
{{ $attrlink := .Get "attrlink" }}
{{ $alt := .Get "alt" }}
{{ $title := .Get "title" }}
{{ $class := .Get "class" }}
{{ partial "components/figure.html" (dict "src" $src "lqipsrc" $lqipsrc "caption" $caption "link" $link "linktarget" $linktarget "attr" $attr "attrlink" $attrlink "alt" $alt "title" $title "class" $class) }}