{{ with $.Resources.GetMatch "*header*" }}
      {{ $tinyw := .Resize "400x" }}
      {{ $smallw := .Resize "800x" }}
      {{ $mediumw := .Resize "1200x" }}
      {{ $largew := .Resize "1500x" }}
	<img
		itemprop="thumbnailUrl"
		class="lazyload blur-up"
		alt="{{ .Name | plainify }}"
		src="{{ $smallw.RelPermalink }}"
		srcset="
		  {{ $tinyw.RelPermalink }} 320w,
		  {{ $smallw.RelPermalink }} 768w,
		  {{ $mediumw.RelPermalink }} 1024w,
		  {{ $largew.RelPermalink }} 1280w"
		sizes="100vw">
	{{- end }}