{{ define "head_resources" }}
{{ partial "htaccess.html" . }}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
<main>
	{{ if .Content }}
	{{ .Content }}
	{{ end }}
	<hr>
    <section>
		<header>
		<h2>Les Dernières News</h2>
		{{ if .Description }}
		<p>{{ .Description }}</p>
	    {{ end }}
		</header>
		  {{ range first 4 .Site.RegularPages.ByDate.Reverse }}
			<aside>
			<a href="{{.Permalink}}">
		    	<h3>{{ .Title }}</h3>
		    	{{ partial "posts/thumb.html" . }}
		        <p>{{- .Description -}}</p>
		        {{- if .PublishDate }}
		        <p><small>{{ i18n "on" }} <time datetime="{{ .PublishDate }}">{{ .Date.Day }} {{ index site.Data.months_fr (printf "%d" .Date.Month) }} {{ .Date.Year }}</time></small></p>
		        {{ end }}
		    </a>
		    </aside>
		{{ end }}
	</section>
</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}