//the box component
//style related css
#box{
  border: 10px solid grey;
  width: 100px;
  height: 100px;
  display: table;
  #text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;;
    font-size: 12px;
  }
}

//color related css goes under here within sass-themify mixin
@include sass-themify(){
  #box{
    background-color: sass-themify-get-color("background-color");
    #text{
      color: sass-themify-get-color("text-color");
    }
  }
}