.gallery {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
     grid-auto-rows: minmax(4em, auto);
     /*grid-template-columns: minmax(5px, 300px);
     grid-template-rows: minmax(1fr, 300px);*/
     grid-auto-flow: dense;
     grid-row-gap: 0.5em;
     grid-column-gap: 0.5em;
}
.gallery:hover a {
     filter: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iXCdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Z1wnIj48ZmlsdGVyIGlkPSJcJ2dyYXlzY2FsZVwnIj48ZmVDb2xvck1hdHJpeCB0eXBlPSJcJ21hdHJpeFwnIiB2YWx1ZXM9IlwnMC4zMzMzIi8+PC9maWx0ZXI+PC9zdmc+I2dyYXlzY2FsZQ==);
     -webkit-filter: grayscale(100%);
     -webkit-transition: all 0.6s ease;
     -webkit-backface-visibility: hidden;
}
.gallery:hover a:hover {
     filter: brightness(120%);
     -webkit-transition: all 0.6s ease;
}
 .gallery a {
     margin-top: 0;
     overflow: hidden;
     opacity: 1;
     transition: 0.2s;
     display: flex;
     flex-direction: column;
}

.gallery a:nth-child(1), .gallery a:nth-child(3), .gallery a:nth-child(23), .gallery a:nth-child(25), .gallery a:nth-child(45), .gallery a:nth-child(47) {
     grid-column-end: span 2;
     grid-row-end: span 1;
}
 .gallery a:nth-child(2), .gallery a:nth-child(5), .gallery a:nth-child(24), .gallery a:nth-child(29), .gallery a:nth-child(46), .gallery a:nth-child(49), .gallery a:nth-child(66) {
     grid-column-end: span 2;
     grid-row-end: span 2;
}
 .gallery a:nth-child(4), .gallery a:nth-child(15), .gallery a:nth-child(26), .gallery a:nth-child(37), .gallery a:nth-child(48), .gallery a:nth-child(59) {
     grid-column-end: span 1;
     grid-row-end: span 1;
}
 .gallery a:nth-child(14), .gallery a:nth-child(16), .gallery a:nth-child(36), .gallery a:nth-child(38), .gallery a:nth-child(58), .gallery a:nth-child(60) {
     grid-column-end: span 1;
     grid-row-end: span 2;
}
 .gallery a:nth-child(8), .gallery a:nth-child(17), .gallery a:nth-child(30), .gallery a:nth-child(39), .gallery a:nth-child(52), .gallery a:nth-child(61) {
     grid-column-end: span 2;
     grid-row-end: span 3;
}
 .gallery a:nth-child(9), .gallery a:nth-child(31), .gallery a:nth-child(53) {
     grid-column-end: span 3;
     grid-row-end: span 2;
}
 .gallery a:nth-child(10), .gallery a:nth-child(12), .gallery a:nth-child(32), .gallery a:nth-child(34), .gallery a:nth-child(54), .gallery a:nth-child(56) {
     grid-column-end: span 2;
     grid-row-end: span 1;
}
 .gallery a:nth-child(13), .gallery a:nth-child(35), .gallery a:nth-child(57) {
     grid-column-end: span 1;
     grid-row-end: span 2;
} 
 .gallery a:nth-child(15), .gallery a:nth-child(37) {
     grid-column-end: span 3;
     grid-row-end: span 2;
}
.gallery a:nth-child(19), .gallery a:nth-child(41) {
     grid-column-end: span 1;
     grid-row-end: span 2;
}
 .gallery a img {
     vertical-align: middle;
     height: auto;
     width: 100%;
     height: 100%;
     border-radius: 0;
     -o-object-fit: cover;
     object-fit: cover;
     transition: 0.2s;
     flex-grow: 1;
     overflow: hidden;
}
 