#box {
  border: 10px solid grey;
  width: 100px;
  height: 100px;
  display: table;
}
#box #text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
}

body #box {
  background-color: black;
}
body #box #text {
  color: white;
}

body.red #box {
  background-color: red;
}
body.red #box #text {
  color: white;
}

body.blue #box {
  background-color: blue;
}
body.blue #box #text {
  color: white;
}