{{ with .Params.authors }}
      {{ range $ind,$val := . }}
           {{$author := $val | urlize }}
           {{- with $.Site.GetPage "taxonomyTerm" $author}}
              {{ if .Resources.GetMatch "avatar" }}
							{{ $image100 := (.Resources.GetMatch "avatar").Fill "100x100 Center" }}
							<img
							itemprop="thumbnailUrl"
							class="avatar lazyload blur-up"
							data-src="{{ $image100.RelPermalink }}"
							alt="{{ .Name | plainify }}" 
							>
              {{ end }}<h2>{{ .Params.name }}</h2>
              <h4>{{ .Params.description }}</h4>
              <p>{{ .Params.bio }}</p>
              {{- with .Params.social }}
              <div id="">
                {{ partial "social-icons.html" . }}
              </div>
          {{- end }}
      {{ end -}}
  {{ end }}
{{ end }}

