{{ with $.Resources.GetMatch "*header*" }}
  {{ $image100 := .Resize "20x q75 Center" }}
  {{ $image600 := .Resize "600x q85 Center" }}
  {{ $image900 := .Resize "900x q85 Center" }}
  {{ $image1200 := .Resize "1200x q85 Center" }}
  {{ $image1600 := .Resize "1600x q85 Center" }}
    <link itemprop="contentUrl" href="{{ .RelPermalink }}">
    <meta itemprop="encodingFormat" content="{{ .MediaType }}">
    <meta itemprop="name" content="{{ .Name | plainify }}">
    <img
      itemprop="thumbnailUrl"
      alt="{{ .Name | plainify }}"
      class="lazyload blur-up"
      src="{{ $image100.RelPermalink }}"
      data-srcset="{{ $image600.RelPermalink }} 600w, {{ $image900.RelPermalink }} 900w, {{ $image1200.RelPermalink }} 1200w, {{ $image1600.RelPermalink }} 1600w"
      data-sizes="auto"
    >
{{ end }}
