{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}
{{ $class := .Get "class" }}

{{ $original := .Page.Resources.GetMatch (printf "*%s*" $src) }}

{{ $small := $original.Resize "480x" }}
{{ $medium := $original.Resize "768x" }}
{{ $big := $original.Resize "1024x" }}

<figure{{ with $class }} class="{{ $class }}"{{ end }}>
  <a href="{{ $original.RelPermalink }}" itemprop="url">
    <img
      class="lazyload blur-up"
      sizes="100vw"
      srcset="{{ $small.RelPermalink }} 480w, {{ $medium.RelPermalink }} 768w, {{ $big.RelPermalink }} 1024w"
      src="{{ $original.RelPermalink }}"
      width="{{ $original.Width }}"
      height="{{ $original.Height }}"
      alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}{{ .Name }}{{ end }}"
      >
  </a>
  {{ with $caption }}
    <figcaption>{{ . | markdownify }}</figcaption>
  {{ end }}
</figure>