 <div class="tabset">

		{{ $tabTotal := .Get "tabTotal" }}
		{{ range $i, $sequence := (seq $tabTotal) }}
			{{ $tabID := $.Get "tabID" }}
		{{ $tabName := (print "tabName" $sequence) }}
		{{ $tabHREF := (print "tab" $tabID $sequence) }}
  <input type="radio" name="tabs" id="{{ $tabHREF | urlize }}" aria-controls="{{ $tabHREF }}" checked >
  <label for="{{ $tabHREF | urlize }}">{{ $.Get $tabName }}</label>
	{{ end }}

		<div class="tab-panels">
			{{ $tabTotal := .Get "tabTotal" }}
			{{ range $i, $sequence := (seq $tabTotal) }}
			{{ $tabID := $.Get "tabID" }}
			{{ $tabHREF := (print "tab" $tabID $sequence) }}
			{{ $tabContent := (print "tabContent" $sequence )}}
		<section class="tab-panel" id="{{ $tabHREF | urlize }}">
		{{ $.Get $tabContent | markdownify }}
		</section>
		{{ end }}
		</div>
</div>