{{ if ne site.Params.Menu_main false }}
<nav class="menu">
	<ul>
		{{- if site.Menus.main -}}
			{{- range site.Menus.main -}}
				{{ if .HasChildren }}
				<li class="has-children"><a itemprop="url" href="{{ .URL }}" data-tooltip="{{ .Name }}">
				{{ .Pre }}
	            {{ .Name }}
	            {{ .Post }}
	        	</a>
					<ul>
						{{- range .Children -}}
							<li><a href="{{ .URL }}">
				                {{ .Pre }}
				                {{ .Name }}
				                {{ .Post }}
				            </a></li>
						{{- end -}}
					</ul>
				</li>
		{{- else -}}
			<li><a href="{{ .URL }}" data-tooltip="{{ .Name }}">
                {{ .Pre }}
                {{ .Name }}
                {{ .Post }}
            </a></li>
            {{ end }}
            {{ end }}
		{{- end -}}
	</ul>
</nav>
{{ end }}